* {
  font-family: "Montserrat", sans-serif;
}

.white-text {
  color: white;
}
.white-text:hover {
  color: #ffffff !important;
}

.about {
  text-align: center;
}
.about-header,
a {
  color: #ff102d;
  font-size: 14.22px;
  font-weight: 700;
}
a:hover {
  color: #ff102d;
  text-decoration: none;
  cursor: pointer;
}

.details {
  padding-right: 5em;
  color: #4378a3;
  font-weight: 500;
}
.btn-primary {
  background-color: #3898ec;
}
.mid-section {
  background-color: #4c4c4c;
  padding-top: 10em;
  padding-bottom: 10em;
}

.clients {
  padding-top: 10em;
  padding-bottom: 10em;
}

.hero {
  display: flex;
  position: relative;
  padding: 2em;
  /* height: 100vh; */
  /* background-color: burlywood; */
}
.bg-color {
  background-color: #4c4c4c;
  color: #ffffff;
  padding-top: 5em;
  padding-bottom: 5em;
}

.logo-effect {
  filter: grayscale(100%);
  transition-duration: 0.6s;
}
.logo-effect:hover {
  filter: grayscale(0%);
  margin-top: -5px;
}
.card {
  background-color: #1b92a6;
  transition-duration: 0.6s;
}
.card:hover {
  margin-top: -5px;
}
footer {
  background-color: #d3d3d3;
}

@media screen and (orientation: portrait) {
  .hero-left {
    margin-bottom: 5em;
  }

  .workforce {
    height: 100vw;
  }

  .details {
    padding-right: 0;
  }
}
@media screen and (orientation: landscape) {
  .hero-left {
    top: 25%;
    position: relative;
  }
}
